<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <link rel="icon" href="/img/Bomb.png" /> 
    <link rel='stylesheet' href='/css/style.css' />
    <script type='text/javascript' src='/js/bundle.js?<%= new Date().getTime() %>'></script>
  </head>
  <body>
    <%-body -%>
  </body>
</html>


